# Ignore all content in these folders
/IMBI_Cluster
/Local_Results
/Benchmark_Models
/tests
/archive

/RS_IMBI
/RS_local

## Ignore parts of the d2d project folders
pthreadGC2.dll
pthreadVC2.dll

# ignore RSTemplate in Base Models
/BaseModels/**/**/RSTemplate

# compiled files with "arCompileAllSetups"
**/Results/*normal
**/CheckSums/
**/Compiled/
*.mexa64
*.mexw64

# Ignore Results directories under any RealisticSimulation
# except those that end with __Final
**/RealisticSimulation/**/Results/
!**/RealisticSimulation/**/Results/*__Final/

# ignore certain other files
project_lib/RealisticSimulation/arDrawObservablesNew.m
